@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

$mainColorDarkBlue: #1d3557;
$lightBlue: #457b9d;
$buttonPriceColor: #e63946;
$fontLinksWhite: #f1faee;
$headerFont: "Mochiy Pop One", sans-serif;
